.#{$prefix}-wrapper {
	position: relative;
	overflow: hidden;
	.#{$prefix}-interactive {
		position: absolute;
		display: block;
		width: 100%;
		height: 100%;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
}

.#{$prefix}-interactive * {
	box-sizing: border-box;
}

.#{$prefix}-selector {
	position: absolute;
	background: $selector-color;
	border: $selector-border;
}
